.slider-container {
  display: flex;
  padding: 10px;
  justify-content: center;
}

#image {
  display: block;
  width: 10%;
  overflow: hidden;
  width: 500px;
  height: auto;
}

#prevBtn,
#nextBtn {
  margin: 0 10px;
}

#nextBtn[disabled],
#prevBtn[disabled] {
  visibility: hidden;
}
